<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenwu.api.mapper.ApiInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zhenwu.api.model.entity.ApiInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="interfaceToken" column="interface_token" jdbcType="CHAR"/>
            <result property="interfaceName" column="interface_name" jdbcType="VARCHAR"/>
            <result property="interfaceDescription" column="interface_description" jdbcType="VARCHAR"/>
            <result property="interfaceVendor" column="interface_vendor" jdbcType="VARCHAR"/>
            <result property="interfaceVendorName" column="interface_vendor_name" jdbcType="VARCHAR"/>
            <result property="interfaceHost" column="interface_host" jdbcType="VARCHAR"/>
            <result property="interfacePath" column="interface_path" jdbcType="VARCHAR"/>
            <result property="interfaceRequestParamsMime" column="interface_request_params_mime" jdbcType="VARCHAR"/>
            <result property="interfaceRequestParamsCharset" column="interface_request_params_charset" jdbcType="VARCHAR"/>
            <result property="interfaceRequestParams" column="interface_request_params" jdbcType="VARCHAR"/>
            <result property="interfaceRequestHeader" column="interface_request_header" jdbcType="VARCHAR"/>
            <result property="interfaceResponseHeader" column="interface_response_header" jdbcType="VARCHAR"/>
            <result property="interfaceStatus" column="interface_status" jdbcType="TINYINT"/>
            <result property="interfaceRequestMethod" column="interface_request_method" jdbcType="VARCHAR"/>
            <result property="interfacePublishUserid" column="interface_publish_userId" jdbcType="BIGINT"/>
            <result property="interfaceDelete" column="interface_delete" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,interface_token,interface_name,
        interface_description,interface_vendor,interface_vendor_name,
        interface_host,interface_path,interface_request_params_mime,
        interface_request_params_charset,interface_request_params,interface_request_header,
        interface_response_header,interface_status,interface_request_method,
        interface_publish_userId,interface_delete,create_time,
        update_time
    </sql>

    <select id="listInterfaceInfoCount" parameterType="com.zhenwu.api.model.dto.interfaceinfo.QueryInterfaceInfoForm" resultType="long">
        select count(*) from api_interface_info
        <where>
            <if test="interfaceName != null">
                interface_name like '%${interfaceName}%'
            </if>
            <if test="interfaceDescription != null">
                and interface_description like '%${interfaceDescription}%'
            </if>
            <if test="interfaceVendor != null">
                and interface_vendor like '%${interfaceVendor}%'
            </if>
            <if test="interfaceVendorName != null">
                and interface_vendor_name like '%${interfaceVendorName}%'
            </if>
            <if test="interfaceHost != null">
                and interface_host like '%${interfaceHost}%'
            </if>
            <if test="interfacePath != null">
                and interface_path like '%${interfacePath}%'
            </if>
            <if test="interfaceRequestParamsMime != null">
                and interface_request_params_mime like '%${interfaceRequestParamsMime}%'
            </if>
            <if test="interfaceRequestParamsCharset != null">
                and interface_request_params_charset = #{interfaceRequestParamsCharset}
            </if>
            <if test="interfaceStatus != null">
                and interface_status = #{interfaceStatus}
            </if>
            <if test="interfaceRequestMethod != null">
                and interface_request_method = #{interfaceRequestMethod}
            </if>
            <if test="createTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') = #{createTime}
            </if>
            <if test="updateTime != null">
                and DATE_FORMAT(update_time, '%Y-%m-%d') = #{updateTime}
            </if>
        </where>
    </select>

    <select id="listInterfaceInfoByPage" parameterType="com.zhenwu.api.model.dto.interfaceinfo.QueryInterfaceInfoForm" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from api_interface_info
        <where>
            <if test="interfaceName != null">
                interface_name like '%${interfaceName}%'
            </if>
            <if test="interfaceDescription != null">
                and interface_description like '%${interfaceDescription}%'
            </if>
            <if test="interfaceVendor != null">
                and interface_vendor like '%${interfaceVendor}%'
            </if>
            <if test="interfaceVendorName != null">
                and interface_vendor_name like '%${interfaceVendorName}%'
            </if>
            <if test="interfaceHost != null">
                and interface_host like '%${interfaceHost}%'
            </if>
            <if test="interfacePath != null">
                and interface_path like '%${interfacePath}%'
            </if>
            <if test="interfaceRequestParamsMime != null">
                and interface_request_params_mime like '%${interfaceRequestParamsMime}%'
            </if>
            <if test="interfaceRequestParamsCharset != null">
                and interface_request_params_charset = #{interfaceRequestParamsCharset}
            </if>
            <if test="interfaceStatus != null">
                and interface_status = #{interfaceStatus}
            </if>
            <if test="interfaceRequestMethod != null">
                and interface_request_method = #{interfaceRequestMethod}
            </if>
            <if test="createTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') = #{createTime}
            </if>
            <if test="updateTime != null">
                and DATE_FORMAT(update_time, '%Y-%m-%d') = #{updateTime}
            </if>
        </where>
        order by update_time desc, create_time desc limit #{start}, #{pageSize}
    </select>

    <select id="queryRouteInfo" resultType="java.util.Map">
        select
            interface_host AS host,
            GROUP_CONCAT(interface_path separator ',') AS paths
        from api_interface_info
        group by interface_host
    </select>
    <update id="deleteInterfaceInfoByIds">
        update api_interface_info
        set interface_delete = 0
        where id in
        <foreach collection="array" open="(" separator="," close=")"  item="interfaceInfoId">
            #{interfaceInfoId}
        </foreach>
    </update>
</mapper>
