<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenwu.api.mapper.ApiUserMapper">

    <resultMap id="BaseResultMap" type="com.zhenwu.api.model.entity.ApiUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
            <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
            <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
            <result property="userRole" column="user_role" jdbcType="TINYINT"/>
            <result property="userStatus" column="user_status" jdbcType="TINYINT"/>
            <result property="userAccesskey" column="user_accessKey" jdbcType="VARCHAR"/>
            <result property="userSecretkey" column="user_secretKey" jdbcType="VARCHAR"/>
            <result property="userPublickey" column="user_publicKey" jdbcType="VARCHAR"/>
            <result property="userPrivatekey" column="user_privateKey" jdbcType="VARCHAR"/>
            <result property="userLoginIp" column="user_login_ip" jdbcType="VARCHAR"/>
            <result property="userLoginTime" column="user_login_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_account,user_password,
        user_name,user_email,user_phone,
        user_avatar,user_profile,user_role,
        user_status,user_accessKey,user_secretKey,
        user_publicKey,user_privateKey,user_login_ip,
        user_login_time,create_time,update_time
    </sql>
    
    <select id="userLogin" parameterType="hashmap" resultType="com.zhenwu.api.model.vo.LoginUserVO">
        select id,
               user_account,
               user_name,
               user_status,
               user_email,
               user_phone,
               user_avatar,
               user_profile,
               IF(user_role = '0', 'user', 'admin') AS user_role,
               user_accessKey,
               user_secretKey,
               user_publicKey
        from api_user
        where
            user_account = #{userAccount}
            and user_password = #{userPassword}
    </select>

    <select id="listUserInfoCount" parameterType="com.zhenwu.api.model.dto.user.QueryUserInfoForm" resultType="long">
        select count(*) from api_user
        <where>
            user_role != 1
            <if test="userAccount != null">
                and user_account like '%${userAccount}%'
            </if>
            <if test="userName != null">
                and user_name like '%${userName}%'
            </if>
            <if test="userEmail != null">
                and user_email like '%${userEmail}%'
            </if>
            <if test="userPhone != null">
                and user_phone like '%${userPhone}%'
            </if>
            <choose>
                <when test="userStatus != null">
                    and user_status = #{userStatus}
                </when>
                <otherwise>
                    and user_status != 1
                </otherwise>
            </choose>
            <if test="userLoginIp != null">
                and user_login_ip like '%${userLoginIp}%'
            </if>
            <if test="userLoginIp != null">
                and user_login_ip like '%${userLoginIp}%'
            </if>
            <if test="createTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') = #{createTime}
            </if>
            <if test="updateTime != null">
                and DATE_FORMAT(update_time, '%Y-%m-%d') = #{updateTime}
            </if>
        </where>
    </select>

    <select id="listUserInfoByPage" parameterType="com.zhenwu.api.model.dto.user.QueryUserInfoForm" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from api_user
        <where>
            user_role != 1
            <if test="userAccount != null">
                and user_account like '%${userAccount}%'
            </if>
            <if test="userName != null">
                and user_name like '%${userName}%'
            </if>
            <if test="userEmail != null">
                and user_email like '%${userEmail}%'
            </if>
            <if test="userPhone != null">
                and user_phone like '%${userPhone}%'
            </if>
            <choose>
                <when test="userStatus != null">
                    and user_status = #{userStatus}
                </when>
                <otherwise>
                    and user_status != 1
                </otherwise>
            </choose>
            <if test="userLoginIp != null">
                and user_login_ip like '%${userLoginIp}%'
            </if>
            <if test="userLoginIp != null">
                and user_login_ip like '%${userLoginIp}%'
            </if>
            <if test="createTime != null">
                and DATE_FORMAT(create_time, '%Y-%m-%d') = #{createTime}
            </if>
            <if test="updateTime != null">
                and DATE_FORMAT(update_time, '%Y-%m-%d') = #{updateTime}
            </if>
        </where>
        order by update_time desc, create_time desc limit #{start}, #{pageSize}
    </select>
</mapper>
